<div class="section" id="education">
    <div class="container cc-education">
      <div class="h4 text-center mb-4 title">Education</div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2011 - 2015</p>
              <div class="h5">Master Degree</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Information and Computer Science</div>
               <h4 class="category">University Konstanz
               </h4>
               <ul>
                <li> University Konstanz was nominated as <b>elite University </b> for 3 times in Germany.</li>
                    <li>Completed master of science with <b>2.5 GPA</b>.</li>
                 <li>Won the DAAD scholarship for the master thesis for 2 times.</li>
                 <li><b>Master project</b>: Computing Minimum-time pacing strategy for a cycling time trial using Chebfun was graded 2.0 (good).</li>
                 <li><b>Master thesis</b>: Cycling power and crank angular acceleration from video and motion capture.</li>
             </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2004 - 2008</p>
              <div class="h5">Bachelor degree</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Electrical Engineering</div>
               <h4 class="category">East China University of Science and Technology
               </h4>
               <ul>
                <li>
                  studied second specialty in Information Science and Engineering
                                  </li>
                                  <li>
                                    Major courses: .
                                  </li>
                                  <li>
                                      Completed with very good grade (<b> 80%</b>).
                                  </li>
             </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2004-2008</p>
              <div class="h5">Second major for bachelor degree</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Information Science and Engineering</div>
               <h4 class="category">East China University of Science and Technology
               </h4>
               <ul>
                <li>Main courses:.
                </li>
                <li>
                    Completed my Secondary school with Good grade <b>84%</b>.
                </li>
             </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
